<div class="container mt-5">
    <h1>Edit Game Entry</h1>
    <form method="POST" action="/games/{{id}}">
        {{#if message}}
        <div class="alert alert-danger mt-3 text-center" role="alert">
            {{message}}
        </div>
        {{/if}}
        <div class="mb-3">
            <label for="gameName" class="form-label">Game Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter game title"
                value="{{name}}" required>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="datePurchased" class="form-label">Date Purchased</label>
                <input type="date" class="form-control" id="datePurchased" name="datePurchased"
                    value="{{datePurchased}}" required>
            </div>
            <div class="col-md-6">
                <label for="willPlayOn" class="form-label">Will Play On</label>
                <input type="date" class="form-control" id="willPlayDate" name="willPlayDate" value="{{willPlayDate}}"
                    required>
            </div>
        </div>
        <div class="mb-3">
            <label for="notes" class="form-label">Notes (optional)</label>
            <textarea class="form-control" id="notes" rows="3" name="notes">{{notes}}</textarea>
        </div>
        <a type="button" class="btn btn-secondary" href="/games">Cancel</a>
        <button type="submit" class="btn btn-success ms-2">Submit</button>
    </form>
</div>